<section class="sectionRules">
    <article class="rulesWrapper">
        <h1 class="SectionTitle">Game rules</h1>
        <p>Select 5 drivers to be part of your team for the whole season. The best performance they do on the Grand Prix weekend, the more points you will get. Points will be assigned as follow:</p>
        <ul class="gameRulesList">
            <li><b>Race winner: </b>12 points.</li>
            <li><b>2nd position on podium:</b> 8 points.</li>
            <li><b>3rd position on podium:</b> 6 points.</li>
            <li><b>First position on grid:</b> 7 points.</li>
            <li><b>Second position on grid:</b> 4 points.</li>
            <li><b>Fastest lap:</b> 3 points.</li>
            <li><b>Grand Slam:</b> 5 points.</li>
            <li><b>Hack trick:</b> 3 points.</li>
            <li><b>Any driver:</b> 1 point per position gained or -1 per position lost at the end of the race according to their positions on starting grid. A DNF means -5 points.</li>
        </ul>        
    </article>
</section>
<div class="sectionWrapper">
    <section class="selectedDriversContainer">
        <article class="messageWrapper">
            <h4 class="warnMessage" *ngIf="completeOptionsMessage" > You already selected 5 drivers. Delete one if you want to change your team. </h4>         
            <h4 class="warnMessage" *ngIf="alreadyPickedMessage" >This driver is already in your team</h4>
            <h4 class="warnMessage" *ngIf="showBudgetMessage" >This driver exceeds the remaining budget.</h4>
            <h4 class="budgetTitle"> Total budget available: {{budget}} mill. € </h4>
        </article>
        <article class="unkownContainer">
            <div  *ngFor="let unkonwn of pickedDrivers">
                <!--  -->
                <article class="unknownDriversContainer" [ngClass]="unkonwn.driver_Team" >
    
                        <img [src]="unkonwn.driver_Img" class="unknownDriverIcon">
                        <h4> {{unkonwn.driver_Name}} </h4>
                        <img src="assets/cross.png" alt="" (click)="deleteDriver(unkonwn.driver_Name)" class="deleteIcon">
    
                    <!-- <div *ngFor="let chosenDriver of pickedDrivers" class="selectedDriverInfo">
                        <h4>{{chosenDriver.driver_Name}} </h4>
                        <img [src]="chosenDriver.driver_Img" width="120px">
                    </div> -->
                </article>
            </div>
        </article>
        <!-- <button (click)="saveTeam()" >SAVE TEAM</button> -->
    </section>
    <section class="driversCardsContainer">
        <article *ngFor="let x of driversInfo, let i = index" class="driverInfoContainer">
            <div class="driverInfo-Y " [ngClass]="x.teamCode"  >
                <div (click)="toggleDriverInfo(i)" class="driverInfoCard">
                    <img [src]="x.img" width="110px">
                    <div class="numberCountryContainer">
                        <span> # {{x.driver_num}} </span>
                        <img [src]="x.country"  alt="driver's country flag">
                    </div>
                </div>
                <div class="driverInfoCardDown">
                    <h3> {{x.name}} </h3>
                    <div class="teamInfoContainer">
                        <span> {{x.team}} </span>
                        <img [src]="x.team_img" alt="" width="60px">
                    </div>
                    <h3>{{x.price}} mill. € </h3>
                    <h3 class="checkResults " (click)="selectDriver(i)" >SELECT DRIVER</h3>
                </div>
                <div *ngIf="showDriverInfo[i]" class="driverInfoToggled" >
                        <li *ngIf="x.championships>0" >Championsips: {{x.championships}} </li>
                        <li *ngIf="x.GP_victories>0">GP Victories: {{x.GP_victories}} </li>
                        <li *ngIf="x.podiums>0">Podiums:  {{x.podiums}} </li>
                        <li *ngIf="x.poles>0">Poles:  {{x.poles}} </li>
                </div>
            </div>
        </article>
    </section>
</div>
<br>
<br>
<hr>

