<footer>
    <div class="mainFooterContainer">
        <div>
            <h2>API</h2>
            <li><a href="https://api-sports.io/documentation/formula-1/v1#tag/Drivers/operation/get-drivers" > Api-sports</a></li>
        </div>
        <h2 class="officialLink"><a href="https://fantasy.formula1.com/en/?utm_source=web_formula1.com&utm_medium=internal_referral&utm_campaign=navigation">Official F1 Fantasy</a></h2>
        <div>
            <h2>F1 News</h2>
            <li><a href="https://www.formula1.com/en/page.what-is-f1.html" >What is F1?</a></li>
            <li><a href="https://www.formula1.com/en/drivers.html" >Drivers</a></li>
            <li><a href="https://www.formula1.com/en/teams.html" >Teams</a></li>
            <li><a href="https://www.formula1.com/en/results.html/2023/races/1222/united-states/race-result.html"> Standings</a></li>
        </div>
    </div>
    <div class="authorFooterContainer">
        <h4>Demo application web made by Jorge Blas Espejo / 2023 </h4>
        <div class="signWrapper">
            <li><a href="https://jrgbeportfolio.netlify.app" >Porfolio</a></li>
            <li><a href="https://www.linkedin.com/in/jorge-blas-espejo-webappdeveloper" >LinkedIn</a></li>
        </div>
    </div>
</footer>
