nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 4em;
    align-items: center;
    background-color: white ;
    font-size: 1.5em;
}
.routingWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    span:hover{
        cursor: pointer;
        color: red  ;
    }
}