@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

html{
    background-color: rgb(58, 56, 56);
    font-family: 'Rubik';}
body{
    margin: 0;
}
h1{
    font-size: 2em;
    letter-spacing: 2px;
}
section{
    color:white;
    p{
        font-size: 1.3em;
    }
}
li, p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}