@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
html{
    background-color: rgb(49, 46, 46);
    font-family: 'Rubik';}
h1{
    color: white;
}
section{
    color:white;
    p{
        font-size: 1.3em;
    }
}
li, p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}